@import '../../shared/styles/devices.scss';

.data-table{
    margin: 2rem auto;
    border: 2px solid rgba(0,0,0,0.3);
    border-radius: 15px;

    &__header{
        &-cell{
            border: none;
            font-size: 18px;
            font-weight: 500;
            color: gray;
            text-align: left;

            @include desktop {
                padding: 2rem 0 0 4rem;
            }

            @include mobile {
                padding: 2rem 0 0 2rem;
            }
        }
    }

    &__body{
        &-cell{
            padding: 2rem;
            display: flex;
            align-items: center;

            @include desktop {
                flex-direction: row;
            }

            @include mobile {
                flex-direction: column;
                text-align: center;
            }

            &-image{
                width: 72px;
                height: 72px;
                border-radius: 50%;
            }

            &-info{
                margin: 1rem;
            }

            &-country{
                color: rgba(0,0,0,0.3);
            }
        }
    }
}